@charset "UTF-8";
/* Estilos generales */


body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

.container {
	background-color: #5a005a;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    
}

h1, h2, h3, h4, h5, h6 {
    color: #ffffff; 
}

/* Estilos para el formulario */
form {
    background-color: #833473;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
select {
    width: calc(100% - 10px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #9b59b6; /* Morado medio */
    border-radius: 4px;
}

input[type="submit"],
button {
    background-color: #8e44ad; /* Morado más oscuro */
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover,
button:hover {
    background-color: #9b59b6; /* Morado medio */
}

a {
	padding: 10px 20px;
	border-radius: 4px;
	margin:10px;
	background-color: #833473;
    color: #ffffff; /*blanco*/
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}